body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
    text-align: center;
}

img {
	text-align:center;
}

a {
	padding-left: 10px;
	padding-right: 10px;
	background-color: #12345a;
}

#figcaption {
	font-size: 12px;
	text-align: center;


}

p > #featured-property {
	width:800px;
	text-align:center;
}

#details {
  display: block;
  float: left;
  
  
}

div {
width: 25%;
  
}